

<div class="container ">
    <div class="query-form">
    <div class="query-image">
        <img src="assets\logo.png" />
    </div>
    <div class="question">
    <form [formGroup]="addQueryForm" (ngSubmit)="postQuery()">
        <h3>Drop a Query</h3>
        <div class="row  d-flex ">
            <div class="col align-self-center" >

                <div class="form-group query-title">
            
                  <label for="exampleFormControlInput1" >Title</label>
                  <input type="text" class="form-control" id="title" placeholder="Query title" formControlName="queryTitle" [ngClass]="{'is-invalid': submitted && control['queryTitle'].errors}" >
              <div *ngIf="submitted && control['queryTitle'].errors" class="text-warning">
                  <div *ngIf="control['queryTitle'].errors['required']">Title required</div>
              </div> 
           
                 
                </div>
                <div class="form-group query-cat">
                  <label for="exampleFormControlSelect1 ">Category</label>
                  <select  class="form-control" id="category" placeholder="Category" formControlName="queryCategory" [ngClass]="{'is-invalid': submitted && control['queryCategory'].errors}" >
                  <div *ngIf="submitted && control['queryCategory'].errors" class="text-warning">
                      <div *ngIf="control['queryCategory'].errors['required']">Title required</div>
                  </div> 
                  

                    <option selected>select</option>
                    <option *ngFor="let cat of catList">{{cat.cate_name}}</option>
                    
                  </select>
                </div>
                
                <div class="form-group query-body" >
                  <label for="exampleFormControlTextarea1">Your Question</label>
                  <textarea rows="6" class="form-control" id="query" placeholder="Your Question" formControlName="queryBody" [ngClass]="{'is-invalid': submitted && control['queryBody'].errors}" >
              <div *ngIf="submitted && control['queryBody'].errors" class="text-warning">
                  <div *ngIf="control['queryBody'].errors['required']">Title required</div>
              </div>
            
                </div>
                <div class="form-group " >
                  <input type="submit" name="btnSubmit" class="btnQuery" value="Post Query" />
                </div>
              
             </div>
        </div> 
    </form>
    </div>
   </div>
  
  <div class=" display-query"> 
       <div class="row align-items-center justify-content-center">
         <!-- <div class="col-sm-4"> -->
          <div class="card text-white bg-dark" *ngFor="let query of queryList">    
            <div class="card-header">{{(query.user)?.name}}</div>
              <div class="card-body">
                <h6 class="card-subtitle text-muted">{{(query.category)?.cate_name}}</h6>
                <br>
                <h5 class="card-title">{{(query.title)}} </h5>
                <p class="card-text">{{(query.query_body)}}</p>
                <a (click)="viewQuery(query.post_id)" class="btn btn-primary">View</a>
              </div>
          </div>
          
  </div>
      </div>
    </div>
