
<div class="container mt-5 ">
    <div class="d-flex justify-content-left row">
        <div class="col-md-7">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-4">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="../../assets/avatar5.png" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">&nbsp;&nbsp; {{(query.user)?.name}}</span><span class="date text-black-50">&nbsp;&nbsp;Shared publicly</span></div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">{{query.query_body}}</p>
                    </div>
                </div>
                <br>
                <h6>Suggested answers:</h6>
                <div class="bg-light p-2" *ngFor="let answer of answers">
                    <br>
                    
                    
                    
                    <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="../../assets/avatar5.png" width="40">&nbsp;&nbsp;<p>{{(answer.user)?.name}}</p></div>
                    <div class="mt-2">
                        <p class="comment-text">{{answer.ans_body}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 offset-md-1  bg-light">
            <form class="form-inline" >
                <div class="form-group">
                    <h4>Drop your answer here :</h4> <label for="message">Your answer</label> <textarea name="msg" id="" msg cols="30" rows="5" class="form-control" ></textarea>
                </div>
                <div class="form-group"> <label for="name">Name</label> <input type="text" name="name" id="fullname" class="form-control"> </div>
                <div class="form-group"> <label for="email">Email</label> <input type="text" name="email" id="email" class="form-control"> </div>
                
                <br>
                <div class="form-group"> <button type="button" id="post" class="btn">Post Answer</button> </div>
            </form>
        </div>
    </div>
</div>


